In [41]:

pDB = '/Users/connylin/Dropbox/CA/_Publications/Manuscript RL Alcohol hab model slo1/rankinlab_slo1paper/3-Results/Fig5-slo1 cell specific ko/data/rawdata_all.csv'

In [45]:
import glob, os
import pandas as pd
import numpy as np

df = pd.read_csv(pDB)
GROUPS = {'HKK796': ['N2', 'N2_400mM', 'HKK796', 'HKK796_400mM'],
            'HKK1165': ['HKK796','HKK796_400mM', 'HKK1165', 'HKK1165_400mM'],
            'VG902': ['HKK796','HKK796_400mM', 'VG902', 'VG902_400mM'],
            'VG903': ['HKK796','HKK796_400mM', 'VG903', 'VG903_400mM']}

In [46]:
df

,tap,time,Ntrack,RevFreq,RevSpeed,RevDur,mwtpath,strain,rx,groupname
0,1,99.960,54,0.814815,0.247872,1.88,/Volumes/COBOLT/MWT/20190127X_XX_100s30x10s10s...,N2,0mM,N2
1,2,109.973,52,0.627451,0.213750,1.60,/Volumes/COBOLT/MWT/20190127X_XX_100s30x10s10s...,N2,0mM,N2
2,3,119.996,47,0.500000,0.211111,1.62,/Volumes/COBOLT/MWT/20190127X_XX_100s30x10s10s...,N2,0mM,N2
3,4,129.951,46,0.395349,0.218571,1.40,/Volumes/COBOLT/MWT/20190127X_XX_100s30x10s10s...,N2,0mM,N2
4,5,139.922,47,0.510638,0.188793,1.16,/Volumes/COBOLT/MWT/20190127X_XX_100s30x10s10s...,N2,0mM,N2
...,...,...,...,...,...,...,...,...,...,...
6232,26,349.922,79,0.243590,0.309890,1.82,/Volumes/COBOLT/MWT/20190418X_XX_100s30x10s10s...,VG902,400mM,VG902_400mM
6233,27,359.919,64,0.229508,0.296377,1.38,/Volumes/COBOLT/MWT/20190418X_XX_100s30x10s10s...,VG902,400mM,VG902_400mM
6234,28,369.978,67,0.261538,0.295327,1.07,/Volumes/COBOLT/MWT/20190418X_XX_100s30x10s10s...,VG902,400mM,VG902_400mM
6235,29,379.917,70,0.235294,0.239785,0.93,/Volumes/COBOLT/MWT/20190418X_XX_100s30x10s10s...,VG902,400mM,VG902_400mM
6236,30,389.988,75,0.239437,0.287500,1.20,/Volumes/COBOLT/MWT/20190418X_XX_100s30x10s10s...,VG902,400mM,VG902_400mM

In [49]:
db = df['mwtpath'].str.split(pat='/', expand=True)

,0,1,2,3,4,5,6
0,,Volumes,COBOLT,MWT,20190127X_XX_100s30x10s10s_slo1,N2,20190127_152716
1,,Volumes,COBOLT,MWT,20190127X_XX_100s30x10s10s_slo1,N2,20190127_152716
2,,Volumes,COBOLT,MWT,20190127X_XX_100s30x10s10s_slo1,N2,20190127_152716
3,,Volumes,COBOLT,MWT,20190127X_XX_100s30x10s10s_slo1,N2,20190127_152716
4,,Volumes,COBOLT,MWT,20190127X_XX_100s30x10s10s_slo1,N2,20190127_152716
...,...,...,...,...,...,...,...
6232,,Volumes,COBOLT,MWT,20190418X_XX_100s30x10s10s_slo1,VG902_400mM,20190418_142855
6233,,Volumes,COBOLT,MWT,20190418X_XX_100s30x10s10s_slo1,VG902_400mM,20190418_142855
6234,,Volumes,COBOLT,MWT,20190418X_XX_100s30x10s10s_slo1,VG902_400mM,20190418_142855
6235,,Volumes,COBOLT,MWT,20190418X_XX_100s30x10s10s_slo1,VG902_400mM,20190418_142855
6236,,Volumes,COBOLT,MWT,20190418X_XX_100s30x10s10s_slo1,VG902_400mM,20190418_142855

In [51]:
group ='HKK796' 
GROUPS[group]
# db[5].isin()


df[14].isin(GROUPS[group]GROUPS[group])

SyntaxError: invalid syntax (<ipython-input-51-88eeb4464476>, line 6)

In [37]:
path

0      HKK1165_400mM
1      HKK1165_400mM
2      HKK1165_400mM
3      HKK1165_400mM
4      HKK1165_400mM
           ...
279          VC40862
280          VC40862
281          VC40862
282          VC40862
283          VC40862
Name: 14, Length: 284, dtype: object